body {
	margin: 0; 
	font-family: "Lucida Console";
}
canvas { 
	width: 100%; 
	height: 100%;
	/*display: none;*/ 
}
a {font-size: 80px;color:blue;}
#videoSource{
/*	display: none;*/

	transform: rotateY(180deg);
	-webkit-transform:rotateY(180deg); /* Safari and Chrome */
	-moz-transform:rotateY(180deg); /* Firefox */

	position: absolute;
	bottom: 0px;
	opacity: 0.6;
	width: 480px;
	height: 400px;
	left: 0%;
}

#distanceRemained{
	position: absolute;
	top: 1%;
	color:white;
	font-size: 50px;
}

#bloodRemained{
	position: absolute;
	top: 5%;
	color:white;
	font-size: 50px;
	text-align:right;
}

#result{
	position: absolute;
	width: 1000px;
	height: 400px;
	left: 50%;
	top: 60%;
	margin-left: -500px;
	margin-top: -200px;
	text-align: center;
	display: none;
	z-index: 2;
}

#resultMSG{
	font-size: 30px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: white;
}

#waitForReady{
	position: absolute;
	width: 1000px;
	height: 400px;
	left: 50%;
	top: 60%;
	margin-left: -500px;
	margin-top: -200px;
	text-align: center;
	display: none;
	z-index: 2;
}

#readyMSG{
	font-size: 30px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: white;
}

#selectRole{
	position: absolute;
	width: 1000px;
	height: 400px;
	left: 50%;
	top: 60%;
	margin-left: -500px;
	margin-top: -200px;
	text-align: center;
	display: none;
	z-index: 2;
}
#roleMSG{
	font-size: 30px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: white;
}







